# FastAPI and web
fastapi
uvicorn[standard]
python-multipart

# LangChain and LLM
langgraph
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain-milvus

# Configuration
python-dotenv
pydantic
pydantic-settings

# Document processing
docling
pdf2image
pillow
pymupdf
pypdf
unstructured
unstructured[pdf]


# OCR (optional - for Urdu/multilingual)
paddleocr
paddlepaddle

# Utilities
aiofiles


torch
torchvision
ultralytics
opencv-python
numpy

# testing
pytest==7.4.0
pytest-cov==4.1.0
pytest-asyncio==0.21.0